
.content-container {
  display: grid;
  user-select: none;
  top: 0;
  left: 0;
  position: fixed;
  grid-template-areas: "header header header" "left main right" "left footer right";
  grid-gap: .1vmin;
  grid-template-rows: 15% 1fr 25%;
  grid-template-columns: 15% 1fr 15%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.header {
  grid-area: header;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.main {
  grid-area: main;
  position: relative;
  background: url("../img/path.png") no-repeat center center;
  background-size: contain;
}

.footer {
  grid-area: footer;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.quest {
  width: 6vmin;
  height: 6vmin;
  border: none;
  outline: none;
  background: white;
  box-shadow: .1vmin .1vmin .5vmin #e59338;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition-duration: .2s;
  font-size: 6vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e59338;
}

.quest:hover:not([disabled]) {
  background: #afa;
  width: 6.5vmin;
  height: 6.5vmin;
  font-size: 6.5vmin;
  cursor: pointer;
}

.quest:disabled {
  color: grey;
  box-shadow: none;
  border: 1px solid grey;
}

.quest:nth-child(1) {
  top: 80%;
  left: 45%;
}

.quest:nth-child(2) {
  top: 77%;
  left: 28%;
}

.quest:nth-child(3) {
  top: 57%;
  left: 33%;
}

.quest:nth-child(4) {
  top: 57%;
  left: 50%;
}

.quest:nth-child(5) {
  top: 57%;
  left: 67%;
}

.quest:nth-child(6) {
  top: 33%;
  left: 71%;
}

.quest:nth-child(7) {
  top: 34%;
  left: 47%;
}

.quest:nth-child(8) {
  top: 32%;
  left: 25%;
}

.quest:nth-child(9) {
  top: 14%;
  left: 31%;
}

.quest:nth-child(10) {
  top: 13%;
  left: 49%;
}

.start-page {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
}

.start-page__left-side {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/bg-left.jpg") no-repeat center center;
  background-size: contain;
}

.level-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.start-page__right-side {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background: url("../img/bg-right.jpg") no-repeat center center;
  background-size: contain;
}

.start-page__controls {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 20%;
  background: rgba(3, 3, 3, 0.25);
  box-shadow: 1px 1px 50px #000;
}

.level-select__side {
  position: fixed;
  width: 50%;
  height: 50%;

}

.level-select__side--top-left {
  top: 0;
  left: 0;
  background: url("../img/bg-top-left.jpg") no-repeat center center;
  background-size: contain;
}

.level-select__side--top-right {
  top: 0;
  right: 0;
  background: url("../img/bg-top-right.jpg") no-repeat center center;
  background-size: contain;
}

.level-select__side--bottom-left {
  bottom: 0;
  left: 0;
  background: url("../img/bg-bottom-left.jpg") no-repeat center center;
  background-size: contain;
}

.level-select__side--bottom-right {
  bottom: 0;
  right: 0;
  background: url("../img/bg-bottom-right.jpg") no-repeat center center;
  background-size: contain;
}

.level-select__buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  z-index: 2;
}

.start-page__right-side.leave, .start-page__left-side.leave {
  animation: animate-side 1s linear;
  width: 0;
  background-size: cover;
}

.level-select__side.leave {
  animation: animate-side2 1s ease-in-out;
  height: 0;
}

@keyframes animate-side {
  0% {
    width: 50%;
  }
  100% {
    width: 0;
  }
}

@keyframes animate-side2 {
  0% {
    height: 50%;
    width: 50%;
  }
  100% {
    height: 0;
    width: 0;
  }
}

.username, .start-button, .username__label {
  z-index: 2;
}

.username {
  text-align: center;
}

.main__question {
  display: flex;
  width: 100%;
  height: 100%;
  background: #e59338;
}

.button {
  background: white;
  padding: 1vmin 2vmin;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 2vmin;
}

.button:hover {
  background: #aaffaa;
}

.level-select__button {
  position: relative;
  transition-duration: .2s;
  min-width: 30vmin;
}

.level-select__button:hover {
  transform: translateY(-2vmin);
}

.input {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: black;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(255, 255, 255, .3);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(255, 255, 255, .9);
}

.username__label {
  color: white;
  font-size: 150%;
  text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);
}

.main__question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card {
  width: 100%; height: 100%;
}

.front {
  position: absolute;
  display: grid;
  grid-template-rows: 70% 20% 10%;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 2;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-card.rotate {
  transform: rotateY(180deg);
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.answer-button.selected {
  outline: .3vmin solid #36892d;
  outline-offset: .4vmin;
}

.correct, .correct:hover {
  background: #36892d;
  color: white;
  cursor: auto;
}

.incorrect, .incorrect:hover {
  background: #e71018;
  color: white;
  cursor: auto;
}

.answers-container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .5%;
}

.answer-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-button {
  width: 60%;
  height: 90%;
  margin: 0;
}

