@font-face {
  font-family: Federo;
  src: url("../fonts/18408.ttf");
}

body {
  font-family: Federo, sans-serif;
}

.content-container {
  display: grid;
  user-select: none;
  top: 0;
  left: 0;
  position: fixed;
  grid-template-areas: "header header header" "left main right" "left footer right";
  grid-gap: .1vmin;
  grid-template-rows: 15% 1fr 8%;
  grid-template-columns: 15% 1fr 15%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 400%;
}

.header__text {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
}

.header__logo {
  display: flex;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2vmin;
  font-size: 150%;
}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.strap-title {
  text-align: center;
  font-size: 150%;
  margin-bottom: 2vmin;
}

.main {
  grid-area: main;
  position: relative;
  background: url("../img/path.png") no-repeat center center;
  background-size: contain;
}

.footer {
  grid-area: footer;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.quest {
  width: 6vmin;
  height: 6vmin;
  border: none;
  outline: none;
  background: white;
  box-shadow: .1vmin .1vmin .5vmin #e59338;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition-duration: .2s;
  font-size: 6vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e59338;
  padding-bottom: .8vmin;
}

.quest:hover:not([disabled]) {
  background: #afa;
  width: 6.5vmin;
  height: 6.5vmin;
  font-size: 6.5vmin;
  cursor: pointer;
}

.quest:disabled {
  color: grey;
  box-shadow: none;
  border: 1px solid grey;
}

.quest:nth-child(1) {
  top: 80%;
  left: 45%;
}

.quest:nth-child(2) {
  top: 77%;
  left: 28%;
}

.quest:nth-child(3) {
  top: 57%;
  left: 33%;
}

.quest:nth-child(4) {
  top: 57%;
  left: 50%;
}

.quest:nth-child(5) {
  top: 57%;
  left: 67%;
}

.quest:nth-child(6) {
  top: 33%;
  left: 71%;
}

.quest:nth-child(7) {
  top: 34%;
  left: 47%;
}

.quest:nth-child(8) {
  top: 34%;
  left: 25%;
}

.quest:nth-child(9) {
  top: 14%;
  left: 31%;
}

.quest:nth-child(10) {
  top: 13%;
  left: 49%;
}

.start-page {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  width: 100%;
  height: 100%;
  /*background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);*/
}


.start-page:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: transparent url(../img/bg3.jpg) no-repeat;
  background-size: cover;
  transform-origin: left;
  transition: 1s;
}

.start-page.leave:before {
  transform: translateY(-100%);
}

.start-page:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform-origin: right;
  transition: 1s;
  background: transparent url(../img/bg3.jpg) no-repeat 0 -52.5vh;
  background-size: cover;
  background-clip: content-box;
}


/*@media (max-width: 1440px) {*/
/*  .start-page:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0; right: 0;*/
/*    width: 50%; height: 100%;*/
/*    transform-origin: right;*/
/*    transition: 1s;*/
/*    background: transparent url(../img/bg3.jpg) no-repeat scroll 101% top;*/
/*    background-size: cover;*/
/*    background-clip: content-box;*/
/*  }*/

/*}*/

.start-page.leave:after {
  transform: translateY(100%);
}

.start-page__side {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/bg-left.jpg") no-repeat center center;
  background-size: contain;
}

.start-page__right-side {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background: url("../img/bg-right.jpg") no-repeat center center;
  background-size: contain;
}

.start-page__right-side.leave, .start-page__left-side.leave {
  animation: animate-side 1s linear;
  width: 0;
  background-size: cover;
}

.start-page__controls {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 20%;
  background: rgba(83, 80, 80, 0.7);
  box-shadow: 1px 1px 50px #000;
}

.level-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.level-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vmin;
  background: rgba(83, 80, 80, 0.7);
  box-shadow: 1px 1px 50px #000;
  border-radius: 1vmin;
}

.level-select__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 200%;
}

.level-select__buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes animate-side {
  0% {
    width: 50%;
  }
  100% {
    width: 0;
  }
}

.username, .start-button, .username__label {
  z-index: 2;
}

.username {
  text-align: center;
}

.main__question {
  display: flex;
  width: 100%;
  height: 100%;
  background: url("../img/small-bg.jpg") no-repeat;
  background-size: cover;
}

.button {
  background: white;
  padding: 1vmin 2vmin;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 2vmin;
  transition-duration: .5s;
}

.button.navy {
  background: linear-gradient(135deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: #f5e76f;
}

.button.sv {
  background: linear-gradient(135deg, rgba(98, 125, 77, 1) 0%, rgba(31, 59, 8, 1) 100%);
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg, rgba(98, 125, 77, 1) 0%, rgba(31, 59, 8, 1) 100%);
  color: #fff;
}

.button.af {
  background: linear-gradient(135deg, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%);
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%);
  color: #fff;
}


.button:hover {
  background: #aaffaa;
}

.button.navy:hover {
  background: white;
  color: #000;
}

.button.sv:hover, .button.af:hover {
  background: white;
  color: #000;
}

.button.af:hover {
  background: white;
  color: #000;
}


.level-select__button {
  position: relative;
  transition-duration: .2s;
  min-width: 30vmin;
}

.level-select__button:hover {
}

.input {
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: black;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(255, 255, 255, .3);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(255, 255, 255, .9);
}

.username__label {
  color: white;
  font-size: 150%;
  text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);
}

.main__question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card {
  width: 100%;
  height: 100%;
}

.front {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 2;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flip-card.rotate {
  transform: rotateY(180deg);
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.answer-button.selected {
  outline: .3vmin solid #36892d;
  outline-offset: .4vmin;
}

.correct, .correct:hover {
  background: #36892d;
  color: white;
  cursor: auto;
}

.incorrect, .incorrect:hover {
  background: #e71018;
  color: white;
  cursor: auto;
}

.answers-container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .5%;
  width: 100%;
  height: 30%;
  padding: 1vmin;
}

.answer-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-button {
  width: 60%;
  height: 90%;
  margin: 0;
}

.question__text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

.question-container {
  display: grid;
  grid-template-areas: "image text " "image text";
  padding: 2vmin;
  grid-gap: 1vmin;
}

.question-container__text {
  grid-area: text;
  text-align: justify;
  text-indent: 5vmin;
  width: 100%;
  height: 100%;
  font-size: 150%;
}

.question-container__image {
  grid-area: image;
  width: 100%;
  height: 300px;
}


.question-container__info {
  display: flex;
  text-align: justify;
  padding: 1vmin;
  border: 1px solid black;
}

.question-container__info--text {
  margin-left: 1vmin;
  width: 100%;
  max-height: 300px;
}

.question-container__info--image {
  text-indent: 0;
  max-height: 500px;
  max-width: 680px;
}

.question-container__info legend {
  text-align: center;
  text-indent: 0;
}

.question-container__info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: .5vmin;
}

.question-container__info-grid div {
  border: 1px solid black;
  text-indent: 0;
  padding-left: .5vmin;
}


.comment-content {
  display: flex;
  width: 100%;
  height: 90%;
  padding: 2vmin;
  font-size: 150%;
}

.comment-container {
  display: grid;
  grid-template-areas: "image text";
  grid-gap: .5vmin;
}

.comment-container__text {
  grid-area: text;
  text-align: justify;
  text-indent: 5vmin;
}

.comment-container__image {
  grid-area: image;
  max-height: 300px;
  max-width: 300px;
}

.comment-button {
  position: fixed;
  bottom: 29%;
  right: 0;
}

.viewer-container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 100%;
  transition-duration: .5s;
  backdrop-filter: blur(3px);
}

.viewer-container.slide {
  top: 0;
}

.viewer-content {
  border-radius: 1vmin;
  font-size: 3vmin;
  text-indent: 7vmin;
  background: radial-gradient(ellipse at center, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
  width: 75%;
  max-height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 1px 1px 1px grey;
  padding: 2vmin;
}

.info-button-container {
  position: fixed;
  bottom: 29%;
  right: 50%;
  transform: translateX(50%);
  width: 20%;
}

.info-button {
  text-indent: 0;
  margin-bottom: 0;
}

.final-stage {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)), url("../img/final.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  z-index: 5;
  text-shadow: 0.01em 0.01em 0.01em rgba(191, 142, 11, 0.95);
}

.final-stage__header {
  font-size: 300%;
  margin-bottom: 3vmin;
  text-align: center;
}

.final-stage__stars {
  font-size: 400%;
  color: #e59338;
}

.final-stage__text {
  font-size: 200%;
}

.final-stage__straps {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.final-stage__strap {
  height: 300px;
}
.final-stage__strap--left {
  transform: rotate(-90deg) scale(1, -1);
  margin-right: 20%;
}

.final-stage__strap--right {
  transform: rotate(-90deg);
}


